{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-warning">

            <h3>Edit Book</h3>

        </div>

        <div class="card-body">

            <form method="POST" enctype="multipart/form-data">

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label>Book ID</label>

                        <input
                            type="text"
                            name="book_id"
                            value="{{ book.book_id }}"
                            class="form-control"
                            required>

                    </div>

                    <div class="col-md-6 mb-3">

                        <label>Book Title</label>

                        <input
                            type="text"
                            name="title"
                            value="{{ book.title }}"
                            class="form-control"
                            required>

                    </div>

                    <div class="col-md-6 mb-3">

                        <label>Author</label>

                        <input
                            type="text"
                            name="author"
                            value="{{ book.author }}"
                            class="form-control"
                            required>

                    </div>

                    <div class="col-md-6 mb-3">

                        <label>ISBN</label>

                        <input
                            type="text"
                            name="isbn"
                            value="{{ book.isbn }}"
                            class="form-control">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label>Publisher</label>

                        <input
                            type="text"
                            name="publisher"
                            value="{{ book.publisher }}"
                            class="form-control">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label>Category</label>

                        <select
                            name="category_id"
                            class="form-select"
                            required>

                            {% for category in categories %}

                            <option
                                value="{{ category.id }}"
                                {% if category.id == book.category_id %}
                                selected
                                {% endif %}>

                                {{ category.name }}

                            </option>

                            {% endfor %}

                        </select>

                    </div>

                    <div class="col-md-6 mb-3">

                        <label>Quantity</label>

                        <input
                            type="number"
                            name="quantity"
                            value="{{ book.quantity }}"
                            class="form-control">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label>Change Cover</label>

                        <input
                            type="file"
                            name="cover"
                            class="form-control"
                            accept="image/*">

                    </div>

                </div>

                {% if book.cover %}

                <div class="mb-3">

                    <label>Current Cover</label>

                    <br>

                    <img
                        src="{{ url_for('static', filename='uploads/' + book.cover) }}"
                        width="150"
                        class="img-thumbnail">

                </div>

                {% endif %}

                <button class="btn btn-success">

                    Update Book

                </button>

                <a href="{{ url_for('books.books') }}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}